/*
font-family: 'Roboto', sans-serif;
  light - 300
  regular - 400
  medium - 500
  bold - 700
  black - 900
font-family: 'Titillium Web', sans-serif;
  light - 300
  regular - 400
  semibold - 600
  bold - 700

#252525 - black
#470707 - red
*/

BODY {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  color: #252525;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.8em;
}

IMG {
  border: 0;
}

HR {
  border: none 0;
  border-top: 1pt solid #470707; /* the border */
  height: 1pt; /* whatever the total width of the border-top and border-bottom equal */
}

A:link, A:visited {
  color: #5E0808;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

A:hover, A:active {
  color: #333333;
  text-decoration: none;
}

H1 {
  font-size: 1.7em;
}

H2 {
  margin: 0 0 0.2em;
  font-weight: 900;
  font-size: 375%;
  line-height: 1em;
  color: #720D1F;
}

H3 {
  margin: 0 0 0.3em;
  font-weight: 900;
  font-size: 237.5%;
  line-height: 1.1em;
  color: #720D1F;
}

UL, OL {
  margin: 0 0 0 0.8em;
  padding: 0 0 0 0.6em;
}

INPUT[type="text"],
INPUT[type="email"],
INPUT[type="password"],
TEXTAREA {
  border: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0.2em 0.7em;
  background: #252525;
  color: #C4C4C4;
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  font-weight: 300;
  -webkit-appearance: none; /* I prefer my styles, Steve Jobs */
  border-radius: 0; /* I prefer my styles, Steve Jobs */
  outline: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  overflow: auto; /* Good ol' IE */
  margin-bottom: 1em;
}

TEXTAREA {
  padding: 0.5em 0.7em;
  height: 7.5em;
}

.survey INPUT[type="text"],
.survey INPUT[type="email"],
.survey TEXTAREA {
  background: #D7D7D7;
  color: #252525;
  -webkit-box-shadow: inset 0 0 8px 0 rgba(38,36,37,0.2);
  -moz-box-shadow: inset 0 0 8px 0 rgba(38,36,37,0.2);
  box-shadow: inset 0 0 8px 0 rgba(38,36,37,0.2);
  margin-bottom: 1.9em;
}

.survey TEXTAREA {
  height: 11em;
}

INPUT[type="text"]:focus,
INPUT[type="email"]:focus,
INPUT[type="password"]:focus,
TEXTAREA:focus,
INPUT[type="submit"]:hover {
  background: #C4C4C4;
  color: #252525;
}

.survey INPUT[type="text"]:focus,
.survey INPUT[type="email"]:focus,
.survey TEXTAREA:focus {
  background: #252525;
  color: #D7D7D7;
}

INPUT::-webkit-input-placeholder { color: #C4C4C4 }
INPUT:-moz-placeholder { color: #C4C4C4 } /* FF 4-18 */
INPUT::-moz-placeholder { color: #C4C4C4 } /* FF 19+ */
INPUT:-ms-input-placeholder { color: #C4C4C4 } /* IE 10+ */
TEXTAREA::-webkit-input-placeholder { color: #C4C4C4; }
TEXTAREA:-moz-placeholder { color: #C4C4C4; } /* FF 4-18 */
TEXTAREA::-moz-placeholder { color: #C4C4C4; } /* FF 19+ */
TEXTAREA:-ms-input-placeholder { color: #C4C4C4; } /* IE 10+ */

.survey INPUT::-webkit-input-placeholder { color: #252525 }
.survey INPUT:-moz-placeholder { color: #252525 } /* FF 4-18 */
.survey INPUT::-moz-placeholder { color: #252525 } /* FF 19+ */
.survey INPUT:-ms-input-placeholder { color: #252525 } /* IE 10+ */
.survey TEXTAREA::-webkit-input-placeholder { color: #252525; }
.survey TEXTAREA:-moz-placeholder { color: #252525; } /* FF 4-18 */
.survey TEXTAREA::-moz-placeholder { color: #252525; } /* FF 19+ */
.survey TEXTAREA:-ms-input-placeholder { color: #252525; } /* IE 10+ */

INPUT[type="submit"] {
  border: 0;
  box-sizing: border-box;
  padding: 0.5em 2em;
  background: #470914;
  color: #F0F0F0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-appearance: none; /* I prefer my styles, Steve Jobs */
  border-radius: 0; /* I prefer my styles, Steve Jobs */
  outline: 0;
}

.survey INPUT[type="submit"] {
  margin-top: 1.2em;
  padding: 0.7em 1.5em;
}

INPUT.notfilled,
TEXTAREA.notfilled {
  outline: 2px solid #DE2847;
}

INPUT.notfilled::-webkit-input-placeholder { color: #DE2847 }
INPUT.notfilled:-moz-placeholder { color: #DE2847 } /* FF 4-18 */
INPUT.notfilled::-moz-placeholder { color: #DE2847 } /* FF 19+ */
INPUT.notfilled:-ms-input-placeholder { color: #DE2847 } /* IE 10+ */
TEXTAREA.notfilled::-webkit-input-placeholder { color: #DE2847; }
TEXTAREA.notfilled:-moz-placeholder { color: #DE2847; } /* FF 4-18 */
TEXTAREA.notfilled::-moz-placeholder { color: #DE2847; } /* FF 19+ */
TEXTAREA.notfilled:-ms-input-placeholder { color: #DE2847; } /* IE 10+ */

A.anchor {
  display: block;
  position: relative;
  top: -240px;
  visibility: hidden;
}

.long-string {
  /* Careful, this breaks the word wherever it is without a hyphen */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Adds a hyphen where the word breaks */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
 
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.centered {
  text-align: center;
}

.one-half {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.one-third {
  float: left;
  width: 31%;
  margin-right: 3.5%;
}

.one-fourth {
  float: left;
  width: 22%;
  margin-right: 4%;
}

.one-half.last,
.one-third.last,
.one-fourth.last {
  margin-right: 0;
}

.one-half H2 {
  font-size: 300%;
}

.redband {
  background: #720D1F;
  color: #FFFFFF;
  padding: 3em 0;
  -webkit-box-shadow: inset 0 7px 9px -4px rgba(0,0,0,0.65);
  -moz-box-shadow: inset 0 7px 9px -4px rgba(0,0,0,0.65);
  box-shadow: inset 0 7px 9px -4px rgba(0,0,0,0.65);
}

.redband H1 {
  margin: 0 0 0.3em;
  font-weight: 900;
  font-size: 425%;
  line-height: 1em;
  color: #FFFFFF;
}

.redband H2 {
  margin: 0 0 0.3em;
  font-weight: 900;
  font-size: 300%;
  line-height: 1em;
  color: #FFFFFF;
}

A#return-to-top:link,
A#return-to-top:visited {
  position: fixed;
  bottom: 50px;
  right: 30px;
  width: 2em;
  height: 2em;
  line-height: 2em;
  padding: 0.5em;
  border: 2px solid #AEAEAE;
  border-radius: 50%;
  color: #720E1F;
  background: rgba(255,255,255,0.4);
  z-index: 999;
}

#return-to-top .fa {
  font-size: 200%;
}

A#return-to-top:hover,
A#return-to-top:active {
  color: #AEAEAE;
}

.site-width {
  width: 1000px;
  margin: 0 auto;
}

.site-width:after,
.cf:after {
  content: "";
  display: table;
  clear: both;
}

.cls-header {
  text-align: center;
  line-height: 0.8em;
  position: relative;
  z-index: 999;
}

.cls-header .site-width {
  position: relative;
  padding: 26px 0 19px;
}

.cls-header .site-width IMG {
  height: 76px;
  width: auto;
}

.cls-header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0 4px 9px 0 rgba(0,0,0,0.65);
  -moz-box-shadow: 0 4px 9px 0 rgba(0,0,0,0.65);
  box-shadow: 0 4px 9px 0 rgba(0,0,0,0.65);
}

.cls-header.sticky .site-width {
  padding: 15px 0;
}

.cls-header.sticky .site-width IMG {
  height: 45px;
  width: auto;
}

#menu-toggle,
#show-menu {
  display: none;
}

.cls-header .menu-left,
.cls-header .menu-right {
  position: absolute;
  top: 0;
}

.cls-header .menu-left {
  left: 0;
}

.cls-header .menu-right {
  right: 0;
}

.cls-header .menu-left .mr,
.cls-header .menu-right .ml,
.cls-header .footer-only {
  display: none;
}

.cls-header UL {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

.cls-header UL LI {
  float: left;
  padding-left: 6em;
  position: relative;
  z-index: 99;
}

.cls-header UL LI:first-child {
  padding-left: 0;
}

.cls-header UL LI A:link, .cls-header UL LI A:visited {
  color: #333333;
  text-decoration: none;
  font-size: 112.5%;
  font-weight: 500;
  display: inline-block;
  height: 121px;
  line-height: 121px;
}

.cls-header.sticky UL LI A:link, .cls-header.sticky UL LI A:visited {
  height: 75px;
  line-height: 75px;
}

.cls-header UL LI:hover A {
  color: #934553;
  text-decoration: none;
}

.cls-header UL LI UL {
  display: none;
  padding: 0.6em 0;
  -webkit-box-shadow: inset 0 7px 9px -4px rgba(0,0,0,0.65);
  -moz-box-shadow: inset 0 7px 9px -4px rgba(0,0,0,0.65);
  box-shadow: inset 0 7px 9px -4px rgba(0,0,0,0.65);
  background: #5E0808;
}

.cls-header UL LI:hover UL {
  display: block;
  position: absolute;
  top: 121px;
  left: 5em;
}

.cls-header UL LI:first-child:hover UL {
  left: -1em;
}

.cls-header.sticky UL LI:hover UL {
  top: 75px;
}

.cls-header UL LI UL LI,
.cls-header UL LI UL LI:first-child {
  float: none;
  padding: 0;
  border-top: 1px solid #4C0707;
}

.cls-header UL LI UL LI:first-child {
  border-top: 0;
}

.cls-header UL LI UL LI A:link,
.cls-header UL LI UL LI A:visited,
.cls-header.sticky UL LI UL LI A:link,
.cls-header.sticky UL LI UL LI A:visited {
  width: 100%;
  height: auto;
  line-height: 1em;
  white-space: nowrap;
  padding: 0.7em 1em;
  box-sizing: border-box;
  color: #FFFFFF;
}

.cls-header UL LI UL LI A:hover,
.cls-header UL LI UL LI A:active,
.cls-header.sticky UL LI UL LI A:hover,
.cls-header.sticky UL LI UL LI A:active {
  color: #BDBDBD;
}

.cycle-slideshow > DIV {
  width: 100%;
  height: 500px;
  background-position: center top;
  background-size: cover;
  -webkit-box-shadow: inset 0 7px 9px -4px rgba(0,0,0,0.65);
  -moz-box-shadow: inset 0 7px 9px -4px rgba(0,0,0,0.65);
  box-shadow: inset 0 7px 9px -4px rgba(0,0,0,0.65);
  display: none;
}

.cycle-slideshow > DIV:first-of-type {
  display: block;
}

.cycle-slideshow .site-width {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  color: #FFFFFF;
  font-size: 106.25%;
  text-shadow: 0 0 17px rgba(0, 0, 0, 0.35);
}

.cycle-slideshow .site-width H2 {
  margin: 0 0 0.3em;
  font-weight: 900;
  font-size: 377%;
  line-height: 1em;
  color: #FFFFFF;
}

.cycle-slideshow .site-width A:link,
.cycle-slideshow .site-width A:visited {
  background: #EBEBEB;
  color: #470707;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: 0.5em 2em;
  margin-top: 4em;
  display: inline-block;
  text-shadow: none;
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
}

.cycle-slideshow .site-width A:hover,
.cycle-slideshow .site-width A:active {
  background: #470707;
  color: #EBEBEB;
}

.cycle-pager {
  position: absolute;
  top: 50%;
  right: calc(50% - 530px);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 500;
}

.cycle-pager SPAN {
  margin: 0.3em 0;
  width: 8px;
  height: 8px; 
  display: block;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  background: transparent;
}

.cycle-pager SPAN.cycle-pager-active { background: #BDBDBD; }

.header-banner {
  background: #470707;
  color: #FFFFFF;
  font-size: 118.75%;
  text-align: center;
  padding: 1.7em 0;
}

.news-home {
  background: #3F0606;
  color: #FFFFFF;
  display: flex;
}

.news-home-left {
  float: left;
  width: 50%;
}

.news-home-right {
  float: right;
  width: 50%;
  display: flex;
  background-image: url(../images/news-home.jpg);
  background-position: center center;
  background-size: cover;
}

.news-home-left-content {
  float: right;
  width: 500px;
  padding: 2.2em 37px 2.7em 0;
  box-sizing: border-box;
  line-height: 1.9em;
}

.news-home-left-content H4 {
  font-weight: 900;
  line-height: 1em;
  margin: 0;
}

.news-home-left-content HR {
  border-top: 1pt solid #720E1F;
  margin: 1.5em 0 1.2em;
}

.news-home-left-content H3 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 248%;
  line-height: 1.2em;
  margin: 0 0 0.5em;
  color: #FFFFFF;
}

.news-home-left-content A.readmore:link,
.news-home-left-content A.readmore:visited {
  color: #FFFFFF;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 1em;
  padding: 0.6em 1.5em;
  border: 3px solid #EBEBEB;
  display: inline-block;
  margin-top: 2.5em;
}

.news-home-left-content A.readmore:hover,
.news-home-left-content A.readmore:active {
  color: #BDBDBD;
  border: 3px solid #BDBDBD;
}

.footer-contact {
  background: #F1F2F2;
  padding: 4em 0;
}

.footer-contact .col1 {
  float: left;
  width: 33%;
  font-size: 106.25%;
  line-height: 1.5em;
}

.footer-contact .col2 {
  float: right;
  width: 60%;
}

.footer-contact .col1 H1 {
  font-size: 317.65%;
  font-weight: 900;
  line-height: 1em;
  color: #720E1F;
  margin: 0.4em 0 0.15em;
}

.footer-contact .col1 H2 {
  font-size: 176.47%;
  font-weight: 900;
  line-height: 1em;
  margin: 1.1em 0 1.6em;
}

.footer-contact .col1 .address {
  font-size: 105.88%;
  padding-bottom: 3.2em;
}

.footer-contact .col1 .address STRONG {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
}

.footer-contact .col1 A.survey-button:link,
.footer-contact .col1 A.survey-button:visited {
  color: #720E1F;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 105.88%;
  line-height: 1em;
  padding: 0.55em 0.75em;
  border: 4px solid #470914;
  display: inline-block;
}

.footer-contact .col1 A.survey-button:hover,
.footer-contact .col1 A.survey-button:active {
  color: #333333;
  border: 4px solid #333333;
  background: #FFFFFF;
}

.required {
  color: #720E1F;
  font-family: 'Titillium Web', sans-serif;
  font-size: 87.5%;
  font-weight: 300;
  padding-bottom: 0.4em;
}

#contact-form {
  position: relative;
}

#contact-form-messages {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  color: #720E1F;
  line-height: 1.3em;
}

#survey-form-messages {
  text-align: center;
  min-height: 2em;
  color: #720E1F;
  position: relative;
  top: 2em;
}

.footer-menu {
  background: #470707;
  color: #FFFFFF;
  padding: 1.7em 0;
  text-align: center;
  font-weight: 500;
}

.footer-menu UL {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-menu UL LI {
  display: inline-block;
  padding-left: 7.6%;
}

.footer-menu UL LI:first-child {
  padding-left: 0;
}

.footer-menu UL LI A:link, .footer-menu UL LI A:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.footer-menu UL LI A:hover, .footer-menu UL LI A:active {
  color: #BDBDBD;
  text-decoration: none;
}

.footer-menu UL LI UL {
  display: none;
}

.cls-footer {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 81.25%;
  line-height: 1em;
  color: #470707;
  padding: 3.5em 0 1.5em;
}

.cls-footer IMG {
  margin-bottom: 3.4em;
}

.home-services {
  padding: 5em 0;
}

.home-services .title {
  display: table-cell;
  vertical-align: bottom;
  height: 2em;
  font-size: 237.5%;
  font-weight: 900;
  line-height: 1em;
  color: #3E0606;
}

.home-services IMG {
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  margin: 1.5em 0 1.1em;
}

.home-services UL {
  line-height: 1.3em;
}

.home-services UL LI {
  padding-bottom: 0.4em;
}

.home-services .button {
  clear: both;
  text-align: center;
  padding-top: 4em;
}

A.shadow-button:link,
A.shadow-button:visited {
  background: #5E0808;
  color: #FFFFFF;
  font-family: 'Titillium Web', sans-serif;
  font-size: 112.5%;
  font-weight: 600;
  padding: 0.5em 1em;
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
}

A.shadow-button:hover,
A.shadow-button:active {
  background: #C4C4C4;
  color: #252525;
}

.content {
  padding: 5em 0;
}

.content IMG {
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 0 0 25px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 25px 2px rgba(0,0,0,0.3);
  box-shadow: 0 0 25px 2px rgba(0,0,0,0.3);
}

.content UL LI {
  padding: 0.3em 0;
}

.fifty-four,
.forty-six {
  float: left;
  width: 54%;
  margin-right: 6%;
  padding: 6em 0;
}

.forty-six {
  width: 40%;
}

.fifty-four.last,
.forty-six.last {
  margin-right: 0;
}

.forty-six H3 {
  font-weight: 900;
  font-size: 190%;
  line-height: 1em;
  margin: 0 0 0.4em;
  color: #3E0606;
}

.forty-six A {
  font-family: 'Titillium Web', sans-serif;
  font-size: 112.5%;
  font-weight: 700;
}

.fifty-four IMG {
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
}

.blog-index, .blog-single {
  height: 251px;
  background-image: url(../images/blog-header.jpg);
  background-position: center center;
  background-size: cover;
  color: #FFFFFF;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-shadow: inset 0 7px 9px -4px rgba(0,0,0,0.65);
  -moz-box-shadow: inset 0 7px 9px -4px rgba(0,0,0,0.65);
  box-shadow: inset 0 7px 9px -4px rgba(0,0,0,0.65);
}

.blog-index {
  font-size: 262.5%;
  line-height: 1em;
}

.blog-single {
  height: 447px;
  font-size: 425%;
  line-height: 1.2em;
}

.blog-single .overlay {
  background: rgba(0, 0, 0, 0.25);
  height: inherit;
}

.blog-single H5 {
  font-size: 16px;
  line-height: 1em;
  margin: 3em 0 0;
}

.blog-index .site-width,
.blog-single .site-width {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.entry-header {
  padding-top: 6em;
  text-align: center;
  text-transform: uppercase;
  color: #3F0606;
}

.entry-header H3 {
  margin: 0 0 0.6em;
  line-height: 1.1em;
  font-size: 425%;
  font-weight: 900;
}

.entry-header H4 {
  margin: 0 0 2.5em;
  font-weight: 900;
}

.entry-content {
  text-align: center;
  font-size: 118.75%;
  padding-bottom: 5em;
}

.entry-content.single {
  padding-top: 4.5em;
  text-align: left;
  font-size: 16px;
}

.entry-content A.readmore:link,
.entry-content A.readmore:visited {
  color: #720E1F;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1em;
  padding: 0.55em 0.75em;
  border: 4px solid #470914;
  display: inline-block;
  margin-top: 3em;
}

.entry-content A.readmore:hover,
.entry-content A.readmore:active {
  color: #333333;
  border: 4px solid #333333;
  background: #FFFFFF;
}

.entry-content .tags-links {
  font-size: 14px;
}

.entry-content .navigation {
  margin-top: 4em;
}

.entry-content .navigation H2 {
  display: none;
}

.entry-content .navigation .nav-links .nav-previous,
.entry-content .navigation .nav-links .nav-next {
  float: left;
  width: 50%;
}

.entry-content .navigation .nav-links .nav-next {
  float: right;
  text-align: right;
}

.entry-content .navigation .meta-nav {
  font-size: 18px;
  font-weight: bold;
}

.entry-content .video {
  margin: 4em 0;
}

.services .service-header.one-half {
  color: #A1A1A1;
  font-size: 87.5%;
  margin-bottom: 3em;
}

.service-header HR {
  border-top: 0; /* the border */
  border-bottom: 5px solid #470707; /* the border */
  height: 5px; /* whatever the total width of the border-top and border-bottom equal */
  width: 50px;
  text-align: left;
  margin-left: 0;
}

.services .one-half {
  margin-bottom: 5em;
}

.services .one-half.last {
  font-size: 93.75%;
  line-height: 1.4em;
}

.services .one-half IMG {
  position: relative;
  top: 0.5em;
}

.services .one-half.last H2 {
  color: #3E0606;
  font-size: 400%;
}

.services UL LI {
  padding: 0 0 0.5em 0;
  font-size: 133.33%;
  font-weight: bold;
  line-height: 1.3em;
  color: #470707;
}

.ar {
  list-style-type: none;
}

.ar LI {
  padding-right: 0.7em !important;
  position: relative;
}

.ar LI:after {
  font-family: Arial, Helvetica, sans-serif;
  content: "\2022";
  position: absolute;
  top: 2px;
  right: 0;
}

.project-header.one-half {
  color: #A1A1A1;
  font-size: 87.5%;
  text-align: left;
  padding: 3em 0 4em;
}

.project-header HR {
  border-top: 0; /* the border */
  border-bottom: 5px solid #470707; /* the border */
  height: 5px; /* whatever the total width of the border-top and border-bottom equal */
  width: 50px;
  text-align: left;
  margin-left: 0;
}

.projects H2 {
  font-size: 275%;
  color: #3E0606;
}

.projects IMG {
  max-width: 100%;
  height: auto;
}

.projects-hr {
  margin: 5em 0 5.5em;
  border-top-color: #CCCCCC;
}

.projects-button {
  clear: both;
  text-align: center;
  padding-top: 5em;
}

.projects .one-third {
  font-size: 87.5%;
  line-height: 1.3em;
  margin-bottom: 8em;
}

.projects .one-third H3 {
  font-size: 221.42%;
  color: #3E0606;
  text-decoration: underline;
  margin-bottom: 1em;
}

.projects .one-third STRONG {
  font-size: 114.28%;
}

.survey-top {
  text-align: center;
  font-size: 112.5%;
  padding: 2.7em 0;
}

.survey-top H2 {
  font-size: 400%;
}

.survey-hr {
  border-top-color: #CCCCCC;
}

.survey-emails {
  padding: 3.6em 0;
}

.survey-wrap {
  background: #F1F2F2;
}

@media only screen and (max-width: 1086px) {
  .cycle-pager {
    right: 0.5%;
  }
}

@media only screen and (max-width: 800px) {
  /* Small computer or landscape tablet */
  A#return-to-top:link,
  A#return-to-top:visited {
    bottom: 1em;
    right: 1%;
  }

  .site-width {
    width: 96%;
  }

  .cls-header .site-width {
    padding: 15px 0;
  }

  .cls-header .site-width IMG {
    height: 45px;
    width: auto;
  }

  .cls-header UL LI {
    padding-left: 3.5em;
  }

  .cls-header UL LI A:link, .cls-header UL LI A:visited {
    height: 75px;
    line-height: 75px;
  }

  .cls-header UL LI:hover UL {
    top: 75px;
    left: 2.5em;
  }

  .cls-header UL LI:first-child:hover UL {
    left: -1em;
  }

  .news-home-left-content {
    width: 96%;
  }

  .footer-contact .col1 H1 {
    margin-top: 0;
    font-size: 235%;
  }

  .footer-contact .col1 .address {
    padding-bottom: 2.6em;
  }

  #contact-form-messages {
    width: 50%;
    line-height: 1.1em;
  }

  .home-services .title {
    font-size: 185%;
  }

  .one-half H2 {
    font-size: 270%;
  }

  .services .one-half.last H2 {
    font-size: 310%;
  }

  .survey-emails {
    padding: 2.6em 0;
  }

  .survey-emails .one-fourth {
    width: 48%;
    padding: 1em 0;
  }

  .survey-emails .one-fourth:nth-child(2) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  /* Tablet */
}

@media only screen and (max-width: 600px) {
  /* Small tablet */
  .one-third,
  .one-half {
    float: none;
    width: 100%;
    margin-right: 0;
  }

  .one-half H2 {
    font-size: 375%;
  }

  .cls-header .site-width,
  .cls-header.sticky .site-width {
    padding-bottom: 0;
  }

  .cls-header .menu-left {
    display: none;
  }

  .cls-header .menu-right {
    position: static;
  }

  .cls-header .menu-right .ml {
    display: block;
  }

  .cls-header .menu-right > UL {
    display: inline-block;
  }

  .cycle-slideshow .site-width {
    width: 94%;
  }
  
  .news-home {
    display: block;
  }

  .news-home-left,
  .news-home-right,
  .news-home-left-content {
    float: none;
    width: 100%;
  }

  .news-home-right {
    height: 300px;
  }

  .news-home-left-content {
    width: 96%;
    padding-right: 0;
    margin: 0 auto;
  }

  .footer-contact .col1,
  .footer-contact .col2 {
    float: none;
    width: 100%;
  }

  .footer-contact .col1:after {
    content: "";
    display: table;
    clear: both;
  }

  .footer-contact .col1 H1 {
    font-size: 317.65%;
  }

  .footer-contact .col1 H2 {
    margin: 1em 0 1em;
  }

  .footer-contact .col1 .address {
    float: left;
    padding-bottom: 1.5em;
  }

  .footer-contact .col1 A:link,
  .footer-contact .col1 A:visited {
    float: right;
  }

  #contact-form-messages {
    width: 60%;
    line-height: 1.2em;
  }

  .footer-menu UL LI {
    padding-left: 2em;
  }

  .fifty-four,
  .forty-six {
    float: none;
    width: 100%;
    margin-right: 0%;
    padding: 4em 0 0;
  }

  .fifty-four.last,
  .forty-six.last {
    padding: 2em 0 4em;
  }

  .forty-six H3 {
    font-size: 265%;
  }

  .home-services .title {
    font-size: 237.5%;
  }

  .services .one-half {
    text-align: left;
  }

  .services .one-half {
    margin-bottom: 1em;
  }

  .services .one-half.last {
    margin-bottom: 5em;
  }

  .service-header.one-half,
  .service-header.one-half.last {
    float: left;
    width: 50%;
    margin-bottom: 3em;
  }

  .services .one-half.last H2 {
    font-size: 400%;
  }
  
  .services .ar {
    list-style-type: disc;
  }

  .services .ar LI {
    padding: 0 0 0.2em 0 !important;
  }

  .services .ar LI:after {
    content: "";
  }

  .project-header.one-half,
  .project-header.one-half.last {
    float: left;
    width: 50%;
  }

  .projects .one-third {
    margin-bottom: 4em;
  }

  .projects .one-third.last {
    margin-bottom: 8em;
  }
}

@media only screen and (max-width: 480px) {
  /* Phone */
  .one-half H2 {
    font-size: 250%;
  }

  .cls-header.sticky {
    position: static;
  }

  .cls-header .site-width,
  .cls-header.sticky .site-width {
    padding-bottom: 10px;
    width: 100%;
  }

  .cls-header .site-width IMG,
  .cls-header.sticky .site-width IMG {
    height: auto;
    width: 80%;
  }

  #menu-toggle {
    display: block;
    cursor: pointer;
    margin-top: 20px;
    color: #470707;
    font-size: 3em;
    height: 48px;
  }

  #menu-toggle:after {
    font-family: 'FontAwesome';
    content: "\f0c9";
    position: relative;
    top: 17px;
  }

  #show-menu:checked + #menu-toggle:after {
    content: "\f00d";
  }

  #show-menu:checked + #menu-toggle + .menu-right {
    display: block;
  }

  .cls-header .menu-right {
    display: none;
    position: absolute;
    top: 169px;
    left: 0;
    z-index: 999;
  }

  .cls-header UL {
    width: 100%;
    text-align: center;
    background: rgba(94,8,8,0.9);
  }

  .cls-header UL LI,
  .cls-header UL LI:first-child {
    float: none;
    padding-left: 0;
    border-top: 1px solid #4C0707;
  }

  .cls-header UL LI:first-child {
    border-top: 0;
  }

  .cls-header UL LI A:link,
  .cls-header UL LI A:visited,
  .cls-header.sticky UL LI A:link,
  .cls-header.sticky UL LI A:visited,
  .cls-header UL LI UL LI A:link,
  .cls-header UL LI UL LI A:visited,
  .cls-header.sticky UL LI UL LI A:link,
  .cls-header.sticky UL LI UL LI A:visited {
    width: 100%;
    height: auto;
    line-height: 1em;
    white-space: nowrap;
    padding: 0.9em 0;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 200%;
  }

  .cls-header UL LI UL LI A:link,
  .cls-header UL LI UL LI A:visited,
  .cls-header.sticky UL LI UL LI A:link,
  .cls-header.sticky UL LI UL LI A:visited {
    white-space: normal;
  }

  .cls-header UL LI A:hover,
  .cls-header UL LI A:active,
  .cls-header.sticky UL LI A:hover,
  .cls-header.sticky UL LI A:active,
  .cls-header UL LI UL LI A:hover,
  .cls-header UL LI UL LI A:active,
  .cls-header.sticky UL LI UL LI A:hover,
  .cls-header.sticky UL LI UL LI A:active {
    color: #BDBDBD;
  }

  .cls-header UL LI:hover UL,
  .cls-header.sticky UL LI:hover UL {
    position: relative;
    top: 0;
    left: 0;
    z-index: 999999999;
  }

  .cls-header UL LI UL {
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: transparent;
  }

  .cls-header UL LI UL LI:first-child {
    border-top: 1px solid #4C0707;
  }

  .cycle-slideshow > DIV {
    height: 400px;
  }

  .cycle-slideshow .site-width H2 {
    font-size: 230%;
  }

  .news-home-right {
    height: 225px;
  }

  .footer-contact .col1 .address,
  .footer-contact .col1 A:link,
  .footer-contact .col1 A:visited {
    float: none;
  }

  .footer-contact .col1 A:link,
  .footer-contact .col1 A:visited {
    margin-bottom: 1.5em;
  }

  .footer-contact .col2 .one-half {
    float: none;
    width: 100%;
    margin: 0;
  }

  #contact-form-messages {
    position: static;
    width: 100%;
    padding-top: 1em;
  }

  .footer-menu UL LI,
  .footer-menu UL LI:first-child {
    padding: 0 1em;
  }

  .cls-footer SPAN {
    display: block;
  }

  .forty-six H3 {
    font-size: 250%;
  }

  .entry-header H3,
  .blog-single {
    font-size: 300%;
  }

  .services .one-half.last H2 {
    font-size: 260%;
  }

  .survey-top H2 {
    font-size: 250%;
  }

  .survey-top SPAN {
    display: block;
    visibility: hidden;
    height: 0;
  }

  .survey-emails .one-fourth,
  .survey-emails .one-fourth:nth-child(2) {
    float: none;
    width: 100%;
    margin: 0;
  }
}